body{
  margin: 0;
}

#button{
  display: block;
  margin: 0 auto;
  padding: 1em;
  background: pink;
  width: 5em;
}


#ball-container{
  display: block;
  background-color: yellow;
  width: 100%;
  height: 100%;
  margin: 0;
}
